<a href="/sessions/destroy">Log out</a>
</br>

<% @output.each do |output|%>

  Book ID: <%=output%>
  </br>
  Date of Creation: <%=output%>
  </br>
  Title: <%=output%>
  </br>
  Author: <%=output%>
  </br>
  
</br>
<%end%>
